
.icon-vkontakte-rect:before { content: '\e800'; } /* '' */
.icon-facebook-rect:before { content: '\e801'; } /* '' */
.icon-phone:before { content: '\e802'; } /* '' */
.icon-menu:before { content: '\e803'; } /* '' */